:root{
    --fundo-pag: #FF59F9;
    --linhas-claras: #E3E3E3;
}

.fundo_pag{
    background-color: var(--fundo-pag);
    height: 2000px;
}

.secao_branca{
    background: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: -246%;
    border-radius: 2%;
}

.love{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    top: 11%;
    margin-left: -130px;
    left: 50%;
}

.letra{
    font-size: 60px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

.poema{
    position: relative;
    top: 40%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    white-space: break-spaces;
    background-color: white;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 2%;
    border-color: var(--linhas-claras);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 30%;
    z-index: 3;
}

.search_box{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%; 
    box-sizing: border-box; /* Inclui padding e borda no cálculo */
    padding: 2px;
    max-width: 254px;
    top: 17%;
    margin-left: -127px;
    left: 50%;
}


#resultado{
    background: var(--linhas-claras);
    width: 100%;
    padding: 7px;
    max-width: 235px;
}

#imagem{
    height: 200px;
    width: 200px;

}

#sub{
    display:flex;
    align-items: flex-start;
    white-space: break-spaces;
    font-size: 13px;
    font-family: monospace;
    margin-top: 0;
    padding-right: 74px;
}

#content{
    display: flex;
    flex-direction: column;
    width: 603px;
    position: absolute;
    top: 21%;
    margin-left: -292px;
    left: 50%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

audio{
    position: relative;
    top: 73%;
    right: 63%;
    width: 252px;
}

#maze{
    display: flex;
    flex-direction: column;
    width: 602px;
    gap: 2px;
}

#screen{
    background: var(--linhas-claras);
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#info{
    display: flex;
    flex-direction: row;
    gap:20px;
}

video{
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
        .poema{
        position: absolute;
        top: 120%;
        left: 50%;
        width: 100%;
        max-width: 200px;
        margin-left: -50%;
        white-space: break-spaces;
        background-color: white;
        font-size: 10px;
        border-style: solid;
        border-width: 0.2px;
        border-radius: 2%;
        border-color: var(--linhas-claras);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30%;
        padding-bottom: 30%;
        z-index: 2;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -110px;
        width: 221px;
        gap: 21px;
    }

    audio{
        position: relative;
        top: 73%;
        right: 0%;
        width: 252px;
    }
    video{
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 100%;
    }

    #maze{
        max-width: 600px;
        max-height: 600px;
        width: 100%;
        height: 100%;
    }

    #screen{
        background: var(--linhas-claras);
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        font-size: 60px;
    }
}