:root{
    --fundo-pag: #F527CF;
    --linhas-claras: #E3E3E3;
}

.fundo_pag{
    background-color: var(--fundo-pag);
}

.secao_branca{
    background: white;
    position: absolute;
    width: auto;
    height: 700px;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    border-radius: 2%;
}

.love{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    top: 11%;
    margin-left: -130px;
    left: 50%;
}

.letra{
    font-size: 60px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.poema{
    position: relative;
    top: 40%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    white-space: break-spaces;
    background-color: white;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 2%;
    border-color: var(--linhas-claras);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 30%;
}